.placeholder {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.placeholder__icon {
  margin-bottom: var(--medium-space);
  color: rgba(30, 143, 255, 0.4);
}

.placeholder h3 {
  margin-bottom: var(--small-space);
}

.placeholder p {
  color: #666;
}
