.app__header {
  margin-top: var(--big-space);
  margin-bottom: var(--big-space);
}

.app__body {
  display: flex;
  justify-content: space-between;
  gap: var(--big-space);
}

.app__sidebar {
  width: 35%;
  min-width: 320px;
  display: flex;
  flex-direction: column;
  gap: var(--medium-space);
}

.app__main {
  width: 65%;
}

@media (max-width: 768px) {
  .app__header {
    margin-top: var(--medium-space);
    margin-bottom: var(--medium-space);
  }
  .app__body {
    flex-direction: column;
    gap: var(--medium-space);
  }

  .app__sidebar,
  .app__main {
    width: 100%;
  }
}
