.todo-list {
  display: flex;
  flex-direction: column;
  gap: var(--big-space);
}

.todo-list__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo-list select {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: var(--medium-br);
  outline: none;
  cursor: pointer;
  background-color: #fff;
}

@media (max-width: 768px) {
  .todo-list__header {
    display: flex;
    flex-direction: column;
    gap: var(--big-space);
    align-items: start;
  }
  .todo-list select {
    font-size: 0.9rem;
  }
}
