.search-bar {
  width: 300px;
  height: 40px;
  display: flex;
  border: 1px solid #ccc;
  border-radius: var(--medium-br);
}

.search-bar__input,
.search-bar__button {
  font-size: 1rem;
}

.search-bar__input {
  width: 80%;
  padding: 0 20px;
  display: block;
  border: none;
  border-radius: var(--medium-br) 0 0 var(--medium-br);
}

.search-bar__input:focus {
  outline: none;
}

.search-bar__button {
  width: 20%;
  color: #fff;
  border: none;
  border-left: 1px solid #ccc;
  border-radius: 0 var(--medium-br) var(--medium-br) 0;
  background: dodgerblue;
  cursor: pointer;
}
